body {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Livvic', sans-serif;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.2em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .5em;
    line-height: 1.2em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    margin: 0px;
    padding: 0px;
    padding-bottom: 0.2em;
    color: #ee4444;
    font-size: 1.9em;
}

.well h2 {
    color: #ee4444;
    font-size: 1.6em;
    padding: 0px;
    margin: 0px;
}

.well h3 {
    color: #ee4444;
    font-size: 1.2em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.tight-details {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
}