---
layout: default
---

<div class="well">
<p>I am Sivakumar Balasubramanian, Associate Professor in <a href="http://www.bioe-cmcvellore.in/">Bioengineering</a> at the <a href="http://www.cmch-vellore.edu/">Christian Medical College Vellore</a>. I have been with the department since August 2014. My basic degree is in Electronics and Communication Engineering, following which I completed my master's and doctoral degrees in Bioengineering, focusing primarily in <a href="https://en.wikipedia.org/wiki/Rehabilitation_engineering">rehabilitation engineering</a>.</p>

<p>My main research interest in the development and validation of tools and training methods for the effective and efficient delivery of <a href="https://en.wikipedia.org/wiki/Neurorehabilitation">neurorehabilitation</a>, and quantitative human analysis.</p>

<p>I very much enjoy teaching. My curren teaching interests are in <i>neuromechanics</i>, <i>linear systems theory</i>, and <i>probability & statistics</i>.</p>

<h3>
Professional Experience
</h3>
<p class="tight-details">Aug'15 - present: Associate Professor in Bioengineering, CMC Vellore, India</p>
<p class="tight-details">Aug'14 - Jul'15: Lecturer in Bioengineering, CMC Vellore, India </p>
<p class="tight-details">Nov'12 - Jul'14: Reseacher, Tecnalia, San Sebatian, Spain</p>
<p class="tight-details">Feb'10 - Oct'12: Postdoc @ Human Robotics Group, Imperial College London, UK</p>

<h3>
Education
</h3>
<p class="tight-details">Aug'05 - Nov'09: Ph.D in Bioengineering, ASU, Tempe, USA</p>
<p class="tight-details">Aug'03 - May'05: M.Tech in Biomedical Engineering, IIT Bombay, Maharashtra</p>
<p class="tight-details">Aug'99 - May'03: B.Tech in Electronics and Communication Engineering, PEC, Puducherry</p>

<h3>
<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Contact</h3>

<p class="contact-details">Department of Bioengineering, Christian Medical College, Bagayam, Vellore 632002, Tamil Nadu.<br>Ph: +91 416 228 5098 | Email: <a mailto="siva82kb@cmcvellore.ac.in ">siva82kb@cmcvellore.ac.in </a></p>
</div>

<!-- {% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
        {% if site.comments and post.comments %}
            {% if site.disqus != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p>
            {% elsif site.isso != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
            {% endif %}
        {% endif %}
        <div class="content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %} -->

<!-- <div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div> -->
